absl-py==2.1.0
astor==0.8.1
bert-embedding==1.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
filelock==3.0.12
future==0.18.2
gast==0.5.4
gluonnlp==0.6.0
graphviz==0.8.4
grpcio==1.60.1
h5py==3.8.0
idna==2.10
importlib-metadata==3.4.0
joblib==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.4.4
MarkupSafe==2.1.5
mock==5.1.0
mxnet==1.4.0
nltk==3.8.1
numpy==1.14.6
packaging==20.8
protobuf==3.20.0
pyparsing==2.4.7
regex==2023.12.25
requests==2.25.1
sacremoses==0.0.43
six==1.15.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==2.3.0
tokenizers==0.9.4
torch==1.13.1
tqdm==4.56.0
transformers==4.2.2
typing==3.6.6
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==2.2.3
zipp==3.4.0
